body {
  font-family: 'segoe ui',sans-serif; /* font-ga microsoft */
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  padding: 40px;
  
}
.container {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 450px;
  
}
input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 75%;
}
button {
  padding: 12px 20px;
  background: #0078d4;
  color: white;
  border-radius: 8px;
  border: none;
}
li {
  background: #fff;
border-bottom:1px solid #eee;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}