.calculator {
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap:10px;
  max-width:300px;
  margin: 20px auto;
  padding: 20px;
  background-color:#222;
  border-radius: 20px;
  
}

button {
  padding: 20px;
  font-size:18px;
  border:none;
  border-radius: 50%;
  cursor: pointer;
}
.number { background-color:#333;color:white;}
.operator {background-color: #f39c12;color:white;}
.special {background-color: #a6a6a6; color:black;}